@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Moon+Dance&family=Roboto+Mono:wght@500&family=Signika+Negative&family=Work+Sans&display=swap');

*{
    background-color: #FBC40E;   ;
}
.nav{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-transform: capitalize;
    border: #33bd96;
    height: 60px;
}
.logo{
    margin-right: 10px;
    background-color: #FBC40E;
    object-fit: cover;
   width: 200px;
   height: 300px;
   
    
}

.container{
 

    display: flex;
    border: 20px;
    
}
.photo{
    height: 100%;
    width: auto;
    border-radius: 50%;
    margin-top: 5%;

    
}
.h1{
    margin-left: 5%;
    font-size: 3em;
    font-family: 'Signika Negative';
    text-transform: uppercase;
    color: #33bd96;
    text-shadow:5px 5px black ;
    margin-top: 10%;
    
    
}