
.con{
    background-color:black;
    display: flex;
    margin: 1px;
    padding: 0;

}
.nav{
    
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    text-transform: capitalize;
    
    
    height: 40px;
    width: 90%;
    margin-top: 5%;
    margin-left: 30%;
    word-spacing: 20px;
}

*{
    background-color: black;
}
  
  
  
  
.logo{
    
    margin-right: 10px;
   
    width: 10%;
    height: auto;
    margin-top: 0%;
    opacity: 50%;
   
    
}
.h1{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    border: 10px solid rgb(227, 164, 49);
    border-radius: 40%;
    margin: 10px;
    padding: 60px;
    text-transform: capitalize;
    margin-left: 5%;
    background-color: rgb(190, 176, 176);
    color: antiquewhite;
    width: 80%;
    height: 5%;
}
.h2{
    margin-left: 20%;
}